﻿
@{
    ViewBag.Title = "checkout";
}

<h2>checkout</h2>

@if(TempData["cart"]!=null)
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>BILL</th>
            </tr>
        </thead>
        <tbody>

            @foreach(var item in TempData["cart"] as List<ShoppingCart.Models.cart>)
                {
            <tr>
                <td>@item.productid</td>
                <td>@item.productname</td>
                <td>@item.price</td>
                <td>@item.qty</td>
                <td>@item.bill</td>


                <td>
                    <a class="btn btn-danger btn-sm" href="@Url.Action("remove",new { id=item.productid})">&#10008;</a>
                </td>

            </tr>
                }







        </tbody>

        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>@TempData["total"]</td>
            </tr>
        </tfoot>

    </table>
}
else
{
    <h2 style="color:red">Cart is Empty</h2>
    @Html.ActionLink("Go Back","Index","Home")
}

@if(TempData["cart"]!=null)
            {
                using(Html.BeginForm())
                {
                    <input type="submit" value="Shop now" class="btn btn-primary"/>
                    <a href="~/Views/Home/Customer.cshtml">Next Page</a>
                }
            }