﻿


<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img style="min-height:200px;width:200px;" src="@Url.Content(Model.P_Image)" />
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">

            <h1>Product Name:@Model.P_Name</h1>
            <h2>Price:@Model.Price</h2>
            <h6>Description:@Model.P_Description</h6>

            <input type="number" name="qty" value="1" id="qty" min="1" max="6"/>

            <input type="submit" value="Submit" class="btn btn-default" />
            <a href='@Url.Action("Customer.cshtml","HomeController")'>
                <input type="button" value="Next"/>
            </a>
        </div>

    </div>
</div>
 }