﻿@model ShoppingCart.Models.Customer
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">*@



@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
<script type="text/javascript">



$(document).ready(function () {
$('#check-address').click(function () {
if ($('#check-address').is(":checked")) {
$('#shipaddline1').val($('#billaddline1').val());
$('#shipaddline2').val($('#billaddline2').val());
$('#scity').val($('#bcity').val());
$('#sstate').val($('#bstate').val());
$('#scountry').val($('#bcountry').val());
$('#szipcode').val($('#bzipcode').val());



var country = $('#country option:selected').val();
$('#country_billing option[value=' + country + ']').attr('selected', 'selected');
} else { 
$('#shipaddline1').val("");
$('#shipaddline2').val("");
$('#scity').val("");
$('#sstate').val("");
$('#scountry').val("");
$('#szipcode').val("");
$('#country_billing option[value=""]').attr('selected', 'selected');
};
});



});



$(document).ready(function () {
    $("#btnSave").click(function () {
            SaveItem();
        });
        });



function ResetItem() {



$("#FirstName").val("");
$("#Lastname").val("");
$("#Email").val("");
$("#PhoneNumber").val("");
$("#BillingAddressLine1").val("");
$("#BillingAddressLine2").val("");
$("#BillingCity").val("");
$("#BillingState").val("");
$("#BillingCountry").val("");
$("#BillingZipCode").val("");
$("#ShippingAddressLine1").val("");
$("#ShippingAddressLine2").val("");
$("#ShippingCity").val("");
$("#ShippingState").val("");
$("#ShippingCountry").val("");
$("#ShippingZipCode").val("");
}
</script>*@
@using (Html.BeginForm())
{



    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.C_FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C_FirstName, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.C_LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C_LastName, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.C_Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C_Email, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.C_Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C_Phone, "", new { @class = "text-danger" })
            </div>
        </div>



        <h3>Billing Address</h3>



        <div class="form-group">
            @Html.LabelFor(model => model.C_BillingAddressLine1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_BillingAddressLine1, new { htmlAttributes = new { @class = "form-control", id = "billaddline1" } })
                @Html.ValidationMessageFor(model => model.C_BillingAddressLine1, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.C_BillingAddressLine2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_BillingAddressLine2, new { htmlAttributes = new { @class = "form-control", id = "billaddline2" } })
                @Html.ValidationMessageFor(model => model.C_BillingAddressLine2, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.C_BillingCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_BillingCity, new { htmlAttributes = new { @class = "form-control", id = "bcity" } })
                @Html.ValidationMessageFor(model => model.C_BillingCity, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.C_BillingState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_BillingState, new { htmlAttributes = new { @class = "form-control", id = "bstate" } })
                @Html.ValidationMessageFor(model => model.C_BillingState, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.C_BillingCountry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_BillingCountry, new { htmlAttributes = new { @class = "form-control", id = "bcountry" } })
                @Html.ValidationMessageFor(model => model.C_BillingCountry, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.C_BillingZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_BillingZipCode, new { htmlAttributes = new { @class = "form-control", id = "bzipcode" } })
                @Html.ValidationMessageFor(model => model.C_BillingZipCode, "", new { @class = "text-danger" })
            </div>
        </div>



        <p><b> Shipping Information <label> <input type="checkbox" value="" id="check-address">Same as billing Information</label></b></p>



        <div class="form-group">
            @Html.LabelFor(model => model.C_ShippingAddressLine1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_ShippingAddressLine1, new { htmlAttributes = new { @class = "form-control", id = "shipaddline1" } })
                @Html.ValidationMessageFor(model => model.C_ShippingAddressLine1, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.C_ShippingAddressLine2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_ShippingAddressLine2, new { htmlAttributes = new { @class = "form-control", id = "shipaddline2" } })
                @Html.ValidationMessageFor(model => model.C_ShippingAddressLine2, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.C_ShippingCity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_ShippingCity, new { htmlAttributes = new { @class = "form-control", id = "scity" } })
                @Html.ValidationMessageFor(model => model.C_ShippingCity, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.C_ShippingState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_ShippingState, new { htmlAttributes = new { @class = "form-control", id = "sstate" } })
                @Html.ValidationMessageFor(model => model.C_ShippingState, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.C_ShippingCountry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_ShippingCountry, new { htmlAttributes = new { @class = "form-control", id = "scountry" } })
                @Html.ValidationMessageFor(model => model.C_ShippingCountry, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.C_ShippingZipCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C_ShippingZipCode, new { htmlAttributes = new { @class = "form-control", id = "szipcode" } })
                @Html.ValidationMessageFor(model => model.C_ShippingZipCode, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />

                @*<input type="button" value="Reset" name="reset" class="btn btn-danger" />*@
            </div>
        </div>
    </div>
}



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

