﻿@model IEnumerable<ShoppingCart.Models.Product>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2>Index</h2>



@if (TempData["msg"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @TempData["msg"]
    </div>
}

<table1>
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-md-10 col-sm-10">
                @if (TempData["total"] == null)
                {

                    <h3>  Total Bill : 0 Rs </h3>


                }
                else
                {
                    <h3>Total Bill:@TempData["total"]</h3>
                }






            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
                <span class="btn btn-info">@Html.ActionLink("Check Out", "checkout", "Home")</span>


            </div>

        </div>





        <div class="row">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-4">

                        <img style="min-height:90px;width:15%" src="@Url.Content(item.P_Image)" />
                        <h4 style="text-align:center">@item.P_Name</h4>
                        <h5 style="text-align:center">@item.Price</h5>
                        <a class="btn btn-danger btn-sm" href="@Url.Action("AddToCart",new { id = @item.P_id })">
                            <i style="font-size:24px" class="fa">&#xf07a;</i>
                            Add to cart
                        </a>
                        @*<span class="btn btn-success btn-sm">@Html.ActionLink("Add to cart","AddToCart",new { id = @item.P_id })</span>*@
                    </div>
                }
            }

        </div>
    </div>
</table1>